* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

form {
  background-color: #3984b26b;
  width: 560px;
}

button {
  background-color: #1c9346;
  color: #ffffff;
  border: none;
}

.address {
  margin: 0 0.25rem;
}

@media (max-width: 1199.98px) {
  .number {
    font-size: 12px;
  }

  .address {
    margin: 0 0;
  }

  .pupils {
    margin-bottom: 20px;
  }
}
